# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Scan with Contrast

on:
  push:
    branches: [ main ]
jobs: 
  build: 
    name: Packaging my Application
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: '1.8'
       
    - name: Build with Maven
      run: mvn clean install
    - name: Scan with Contrast
      run: java -javaagent:D:\ContrastSecurity\contrast.jar -jar C:\actions_runner\actions-runner-win-x64-2.277.1\Workspace\Github-actions-demo\Github-actions-demo\target\SubmissionDataForm-0.0.1-SNAPSHOT.jar
      
   
      

