# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Zipping and Moving the Folder

on:
  push:
    branches: [ main ]
 

jobs:
  build:

    runs-on: self-hosted

    steps:
    #Checkout the Code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
   #Build  Maven project 
    - name: Step-2 Build with Maven goals
      run: mvn clean install
      
   #Download artifact
    - name: Step-3 Download Artifact
      uses: actions/download-artifact@v2
      with:
        name: my-artifact
        path: D:/Actions
        
  #zip the file  
    - name: Step-3 Zip the Code
      uses: papeloto/action-zip@v1
      with:
          dest: result.zip
          
 #Velify the all the folders in Main Directory     
    - name: Check the folder
      run: dir
    
 # Move the Fodler from One directory to another   
    - name: Move folder
      run: move result.zip D:\Actions
      
