# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
 

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
      
    - name: Build with Maven
      run: mvn clean install
      
    - name: Zip
      uses: papeloto/action-zip@v1
      with:
          dest: result.zip
          
    - name: Check the folder
      run: dir
      
    - name: Move folder
      run: move result.zip D:\Actions
      
