# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Zipping and Moving the Folder

on:
  push:
    branches: [ main ]
 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    #Checkout the Code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
    - name: Build maven
      run: mvn clean install
        
  #zip the file  
    - name: Step-3 Zip the Code
      uses: papeloto/action-zip@v1
      with:
          dest: result.zip
    - name: check path
      run: ls -a;
          
 #Velify the all the folders in Main Directory     
    - name: Operations
      uses: fifsky/ssh-action@master
      with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          host: 18.217.88.106
          port: 22
          user: ec2-user 
          command: 
                  ls -a;
                  mkdir git_actions;
                  scp /home/runner/work/Github-actions-demo/Github-actions-demo/target/SubmissionDataForm-0.0.1-SNAPSHOT.war ec2@18.217.88.106:/ec2-user/git/SubmissionDataForm-0.0.1-SNAPSHOT.war;
                  
      
    - name: Check path
      run: 
        cd .. ;
        cd .. ;
        ls -a

