# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Zipping and Moving the Folder

on:
  push:
    branches: [ main ]
 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    #Checkout the Code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
    - name: Build maven
      run: mvn clean install
        
  #zip the file  
    - name: Step-3 Zip the Code
      uses: papeloto/action-zip@v1
      with:
          dest: result.zip
          
 #Velify the all the folders in Main Directory     
    - name: Operations
      uses: alinz/ssh-scp-action@master
      with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          host: 18.217.88.106
          port: 22
          user: ec2-user       
    - name: Check path
      run: 
        cd ec2-user;
        ls -a

