# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Multiple Jobs in a Pipeline

on:
   workflow_dispatch:
    inputs:
      name:
        description: 'Send for scan'
        required: true
        default: ''

   
jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
    #Checkout the Code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
    - name: Build maven
      run: 
            mvn clean;
           
     #Zip the code
    - name: Step-4 Zip the Source code
      uses: papeloto/action-zip@v1
      if: ${{ github.event.inputs.name.default }}
      with:
          dest: SampleWebApp.zip
          
    - name: Check path
      run: ls -a;
          
 

