# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Multiple Jobs in a Pipeline

on:
   workflow_dispatch:
    inputs:
      scan:
       description: 'Send for scan'
       required: true
       default: ''
    #  artifactory:
     #  description: 'Upload to Artifactory'
      # required: true
      # default: ''
    

   
jobs:
  Build:

    runs-on: windows-latest

    steps:
    #Checkout the Code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
    - name: Build maven
      run: 
            mvn clean;
            mvn install;
           
     #Zip the code
    - name: Step-4 Zip the Source code
      uses: papeloto/action-zip@v1
      if: ${{ github.event.inputs.scan == 'yes' }}
      with:
          dest: SampleWebApp.zip
          
   # - name: Step-3 Upload to Artifactory
    #  if: ${{ github.event.inputs.artifactory == 'true' }}
      #run:  Remove-item alias:curl;
       #     curl -X PUT -u ${{ secrets.USERNAME_ARTIFACTORY }}:${{ secrets.PASSWORD }} -T C:\actions_runner\actions-runner-win-x64-2.277.1\Workspace\Github-actions-demo\Github-actions-demo\target\SubmissionDataForm-0.0.1-SNAPSHOT.war "http://localhost:8082/artifactory/CG-libs-release-local/SubmissionDataForm-0.0.1-SNAPSHOT.war"
  
    - name: Check path
      run: dir;
          
 

